/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml 

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock 